---
name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    name: Check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: lunarmodules/luacheck@v0
  fmt:
    name: Fmt
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: JohnnyMorganz/stylua-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --color always --check lua/
  test:
    name: Test
    runs-on: ubuntu-22.04
    steps:
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
      - name: Install plenary.nvim
        run: |
          git clone https://github.com/nvim-lua/plenary.nvim ~/.local/share/nvim/site/pack/packer/start/plenary.nvim
      - name: Install Busted
        run: |
          sudo apt-get update
          sudo apt-get install -y luarocks
          luarocks install busted --local
          echo "$HOME/.luarocks/bin" >> $GITHUB_PATH
          echo "LUA_PATH=\"$HOME/.luarocks/share/lua/5.1/?.lua;$HOME/.luarocks/share/lua/5.1/?/init.lua;$LUA_PATH\"" >> $GITHUB_ENV
          echo "LUA_CPATH=\"$HOME/.luarocks/lib/lua/5.1/?.so;$LUA_CPATH\"" >> $GITHUB_ENV
      - name: Run pure Lua unit tests
        run: |
          busted
      - name: Run integration tests
        run: |
          nvim --headless \
                -u NONE \
                -i NONE \
                -c 'set rtp+=.' \
                -c 'packadd plenary.nvim' \
                -c 'lua require("plenary.test_harness").test_directory("tests/integration")' \
                -c 'qa!'
